
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_UILayout</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
